@font-face {
    font-family: 'ua_squaredregular';
    src: url('uasquare-webfont.eot');
    src: url('uasquare-webfont.eot?#iefix') format('embedded-opentype'),
         url('uasquare-webfont.woff') format('woff'),
         url('uasquare-webfont.ttf') format('truetype'),
         url('uasquare-webfont.svg#ua_squaredregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'LaBelleAurore';
  font-style: normal;
  font-weight: 400;
  src: local('La Belle Aurore'), local('LaBelleAurore'), url(LaBelleAurore.woff) format('woff');
}
